@import "tailwindcss";

@layer base {
  :root {
    --form-height: 40px;
    --form-radius: 7px;
  }
}

@layer components {
  .container-dashboard {
    @apply w-full max-w-7xl px-7 lg:px-8;
  }

  .form-rounded {
    border-radius: var(--form-radius) !important;
  }

  .form-input {
    height: var(--form-height);
    border-radius: var(--form-radius) !important;
    border: 1px solid !important;
    @apply shadow-none transition-all duration-200 font-normal;
  }

  .form-button {
    height: var(--form-height) !important;
    border: 1px solid !important;
    border-radius: var(--form-radius) !important;
  }

  .form-select {
    height: var(--form-height);
    border-radius: var(--form-radius) !important;
    border: 1px solid !important;
  }
}
